@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap");

/* Customizable Variables */
:root {
  --font-display: var(--font-primary) !important;
  --backdrop: rgba(0, 0, 0, 0.3);
  --settings-min-height: 450px;
  --settings-max-height: 650px;
  --settings-min-width: 960px;
  --settings-max-width: 960px;

  /* Overriding Discord Defaults */
  --background-primary: var(--lightgrey);
  --background-tertiary: var(--darkgrey);
  --primary-dark-630: var(--grey);

  --scrollbar-thin-thumb: var(--darkgrey);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: var(--darkgrey);
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--darkgrey);
  --scrollbar-auto-scrollbar-color-track: transparent;
}

/*& ---------------- COLORS ---------------- */
.chatContent__5dca8,
.guilds__2b93a,
.title_b7d661,
.members__9f47b,
.container__590e2,
.container_ca50b9,
.scroller__4b984,
.container__5c7e7,
.container__11d72,
.container__0a6a9,
.section_efc22d,
.searchBar_e4ea2a,
.panels__58331,
.container_d667ff,
.panel_bd8c76 {
  background-color: var(--grey) !important;
}

.section_efc22d {
  background-color: var(--lightgrey) !important;
}

/*~ ---------------- Windows Buttons ---------------- */

.winButton__88672 {
  padding-inline: 4px;
}

.winButtonClose__73489 {
  margin-right: 10px;
  border-radius: 0 10px 0 0 !important;
}

.titleBar__01af6 {
  padding-top: 10px;
}

/*~ ---------------- Pop-out Window-Effect ---------------- */

#app-mount,
.app_de4237 {
  background: var(--custom-background, --blurple) !important;
  background-color: var(--custom-background) !important;
}

.appMount_fae9dd,
body,
.app_de4237 {
  background-color: var(--custom-background) !important;
}

.appAsidePanelWrapper__714a6 {
  margin: var(--spacing);
  border-radius: var(--radius);
}

.app_de4237,
.layers__1c917 {
  border-radius: var(--radius);
}

.bg__12180 {
  display: none;
}

/*~ ---------------- SECTION MARGINS ---------------- */

/*? All border radius */
.chat__52833,
.guilds__2b93a,
.container__5c7e7,
.applicationStore_fc7d76,
.container_a87c5e,
.shop_b31ed2,
.member_aa4760,
.animatedContainer__341f6,
.link__95dc0 {
  border-radius: var(--radius) !important;
}

.scroller__3d071 {
  /* Discord logo top spacing */
  margin-top: 10px;
}

/*~ ---------------- SIDEBAR SECTION ---------------- */

/*? Section Margining */
.sidebar_ded4b5 {
  margin-inline: var(--spacing);
  border-radius: var(--radius) !important;
}

/*? Activity */
.sidebar_ded4b5 {
  background-color: var(--grey);
}

.activityPanel__22355 {
  height: 34px;
  padding: 4px 10px 0 10px;
  background-color: var(--blurple) !important;
  border-radius: var(--radius) var(--radius) 0 0;
}

.gameIcon__90c32 {
  width: 24px;
  height: 24px;
}

/*~ ---------------- CHAT SECTION ---------------- */

/*? Top Title bar */
.title_b7d661 {
  padding-right: 160px !important;
}

.container__11d72 {
  border-radius: var(--radius) 0 0 0; /* shop fix */
  padding-right: 150px !important;
}

.searchBar_e0c60b {
  background-color: var(--darkgrey) !important;
  border-radius: var(--radius);
  padding-inline: var(--spacing);
}

/*? Memebers */
.member_aa4760 {
  background-color: var(--lightgrey);
}

.member_aa4760 {
  margin-top: var(--spacing);
}

/*? Friend Activity */
.section_efc22d {
  background-color: var(--lightgrey) !important;
}

.itemCard__1f162 {
  border-radius: var(--radius);
}

.itemCard__1f162:hover {
  background-color: var(--custom-background) !important;
}

.header__123bf {
  display: none;
}

.scrollableContainer__33e06,
.wrapper_fbbb73 {
  background-color: var(--lightgrey);
}

.channelTextArea__2e60f,
.scrollableContainer__33e06 {
  border-radius: var(--radius);
}

/** Friends list search */
.searchBar_ff8800 {
  border-radius: var(--radius);
}

.input__74754 {
  margin-left: var(--spacing);
}

/** Find or start a conversation comp */
.searchBarComponent__22760 {
  text-align: center !important;
  color: white !important;
  background-color: var(--blurple) !important;
  border-radius: calc(var(--radius) * (2 / 3)) !important;
}

/** Message Bar */
.form__13a2c::selection,
.form__13a2c::before {
  background: none !important;
}

.link__95dc0:hover {
  background-color: var(--lightgrey);
  padding-left: 7px;
}

.expandedFolderBackground__1bec6,
.folder__17546 {
  background-color: var(--darkgrey) !important;
  border-radius: var(--radius);
}

.embedWrapper_c143d9 {
  background-color: var(--darkgrey);
  border-radius: var(--radius);
}

/*~ ---------------- Members ---------------- */

/* Guild Memebers Cut-Off Fix */
.membersWrap__90226 {
  height: 100%;
}

/*~ ---------------- Notice Bar ---------------- */

.button__587bd {
  margin-right: 10rem;
}

.notice__5fd4c {
  height: 50px;
  border-radius: var(--radius);
  margin: 0 0 var(--spacing) var(--spacing);
}

/*~ ---------------- Friends Section ---------------- */

.channel_c21703 {
  border-radius: var(--radius);
}

/*------------------------------------------------------------------------ /
/                              PLUGIN SUPPORT                              /
/ ------------------------------------------------------------------------*/
